.App {
  text-align: center;
}

.App-logo {
  padding: 10px;
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: pink; /* #282c34;*/
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; /*white;*/
}

.App-link {
  color: #61dafb;
}

.Monthly-view {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
